<% provide(:title, 'Home') %>
<h1>De kunst van het aanraken.</h1>
<p>
Aanraken is een eerste levensbehoefte. 
Het is een ware kunst om met de juiste intentie, met de juiste druk, op de juiste plek iemand aan te raken of aangeraakt te worden. 
Dat is een magisch moment: het leven kan daar weer stromen. Met shiatsu proberen we dit moment te vangen. 
</p>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>